.jumbotron {
    background-color:paleturquoise;
}

.jumbotron h1 {
    color: black;
     
}

.row {
    font-family: 'Roboto Slab', serif;
    font-size: 24px; 
}


footer {
    background-color: paleturquoise;
    padding: 10px;
    color: black;
}

.panel-body {
    font-size: 16px;
}
